<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'movie-theater.jpg' %>);">
  <div class="container">
    <h1>Welcome to <strong>chill movie time</strong> !</h1>
  </div>
</div>
<div class="container mt-3" >
  <div class="container-fluid">
  <h2>My list</h2>
  <%= link_to 'Create a movie list', new_list_path, class: 'btn btn-primary' %>
  </div>
  <div>
  <div class="cards">
    <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key, height: 300, crop: :fill) : asset_path( 'movie-theater.jpg') %>)">
    <%= link_to list.name, list_path(list) %>
    </div>
    <% end %>
  </div>
</div>
